services:
  jaeger:
    container_name: jaeger
    environment:
    - SPAN_STORAGE_TYPE=badger
    - BADGER_EPHEMERAL=false
    - BADGER_DIRECTORY_VALUE=/badger/data
    - BADGER_DIRECTORY_KEY=/badger/key
    image: jaegertracing/all-in-one:1.16.0
    ports:
    - 6831:6831/udp
    - 16686:16686
    user: 1000:1000
    volumes:
    - /media/sf_VirtualBox_Shared/scion/traces:/badger:rw
version: '2'
